# Лабораторная работа №1
## Анализ пассажиров корабля "Титаник"

**Заполните недостающий код ("You code here")**

In [80]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
# import some nice vis settings 
sns.set()
# Graphics in SVG format are more sharp and legible
%config InlineBackend.figure_format = 'svg'
pd.set_option("display.precision", 2)

** Чтение данных в Pandas DataFrame**

In [5]:
data = pd.read_csv('titanic_train.csv',
                  index_col='PassengerId')

**Первые 5 строк**

In [5]:
data.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.92,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,NaN,S

In [6]:
data.describe()

       Survived  Pclass     Age   SibSp   Parch    Fare
count    891.00  891.00  714.00  891.00  891.00  891.00
mean       0.38    2.31   29.70    0.52    0.38   32.20
std        0.49    0.84   14.53    1.10    0.81   49.69
min        0.00    1.00    0.42    0.00    0.00    0.00
25%        0.00    2.00   20.12    0.00    0.00    7.91
50%        0.00    3.00   28.00    0.00    0.00   14.45
75%        1.00    3.00   38.00    1.00    0.00   31.00
max        1.00    3.00   80.00    8.00    6.00  512.33

**Давайте выберем тех пассажиров, которые отправились в Cherbourg (Embarked = C) и заплатили > 200 фунтов за билет (fare > 200).**

Убедитесь, что вы понимаете, как на самом деле работает эта конструкция.

In [7]:
data[(data['Embarked'] == 'C') & (data.Fare > 200)].head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.52,B58 B60,C
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.52,B58 B60,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.50,C82,C

** Мы можем отсортировать этих людей по тарифу (Fare) в порядке убывания. **

In [10]:
data[(data['Embarked'] == 'C') & 
     (data['Fare'] > 200)].sort_values(by='Fare',
                               ascending=False).head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.33,NaN,C
680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.33,B51 B53 B55,C
738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.33,B101,C
312,1,1,"Ryerson, Miss. Emily Borie",female,18.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C
743,1,1,"Ryerson, Miss. Susan Parker ""Suzette""",female,21.0,2,2,PC 17608,262.38,B57 B59 B63 B66,C

**Давайте добавим новый признак.**

In [12]:
def age_category(age):
    '''
    < 30 -> 1
    >= 30, <55 -> 2
    >= 55 -> 3
    '''
    if age < 30:
        return 1
    elif age < 55:
        return 2
    elif age >= 55:
        return 3

In [13]:
age_categories = [age_category(age) for age in data.Age]
data['Age_category'] = age_categories

**Другой способ сделать это с `apply`.**

In [14]:
data['Age_category'] = data['Age'].apply(age_category)

**1. Сколько мужчин / женщин было на борту?**
- 412 мужчин и 479 женщин
- 314 мужчин и 577 женщин
- 479 мужчин и 412 женщин
- 577 мужчин и 314 женщин

In [27]:
male_count = np.sum(data['Sex'] == 'male')
female_count = np.sum(data['Sex'] == 'female')

print("Мужчин на борту: ", male_count)
print("Женщин на борту: ", female_count)

Мужчин на борту:  577
Женщин на борту:  314

**2. Определите распределение функции `Pclass`. Теперь Для мужчин и женщин отдельно. Сколько людей из второго класса было на борту?**
- 104
- 108
- 112
- 125

In [12]:
second_class_all = data['Pclass'].value_counts()
print("Людей второго класса на борту: ", second_class_all)

male = data[data['Sex'] == 'male']['Pclass'].value_counts()
female = data[data['Sex'] == 'female']['Pclass'].value_counts()

print("\nРаспределение функции Pclass для мужчин:")
print(male)
print("\nРаспределение функции Pclass для женщин:")
print(female)

Людей второго класса на борту:  Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Распределение функции Pclass для мужчин:
Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Распределение функции Pclass для женщин:
Pclass
3    144
1     94
2     76
Name: count, dtype: int64

**3. Каковы медиана и стандартное отклонение`Fare`?. Округлите до 2-х знаков после запятой.**
- медиана 14,45, стандартное отклонение 49,69
- медиана 15,1, стандартное отклонение 12,15
- медиана 13,15, стандартное отклонение 35,3
- Медиана 17,43, стандартное отклонение - 39,1.

In [14]:
stats = data['Fare'].describe()[['50%', 'std']]
print(stats)

50%    14.45
std    49.69
Name: Fare, dtype: float64

**4. Правда ли, что средний возраст выживших людей выше, чем у пассажиров, которые в конечном итоге умерли?**
- Да
- Нет

In [50]:
surv_age_check = data[data['Survived'] == 1]['Age'].mean()
not_surv_age_check = data[data['Survived'] == 0]['Age'].mean()

print('Средний возраст выживших: ', surv_age_check)
print('Средний возраст погибших: ', not_surv_age_check)

print('Средний возраст выживших людей выше, чем у пассажиров, которые в конечном итоге умерли: ', surv_age_check > not_surv_age_check)

Средний возраст выживших:  28.343689655172415
Средний возраст погибших:  30.62617924528302
Средний возраст выживших людей выше, чем у пассажиров, которые в конечном итоге умерли:  False

**5. Это правда, что пассажиры моложе 30 лет. выжили чаще, чем те, кому больше 60 лет. Каковы доли выживших людей среди молодых и пожилых людей?**
- 22,7% среди молодежи и 40,6% среди пожилых
- 40,6% среди молодежи и 22,7% среди пожилых
- 35,3% среди молодежи и 27,4% среди пожилых
- 27,4% среди молодежи и 35,3% среди пожилых

In [67]:
young_stat = data[(data['Age'] < 30)]['Survived'].mean() * 100
old_stat = data[(data['Age'] > 60)]['Survived'].mean() * 100
print("Это правда, что пассажиры моложе 30 лет. выжили чаще, чем те, кому больше 60 лет? ", young_stat > old_stat)
print("Доля молодёжи", young_stat)
print("Доля пожилых", old_stat)

Это правда, что пассажиры моложе 30 лет. выжили чаще, чем те, кому больше 60 лет?  True
Доля молодёжи 40.625
Доля пожилых 22.727272727272727

**6. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших людей среди мужчин и женщин?**
- 30,2% среди мужчин и 46,2% среди женщин
- 35,7% среди мужчин и 74,2% среди женщин
- 21,1% среди мужчин и 46,2% среди женщин
- 18,9% среди мужчин и 74,2% среди женщин

In [68]:
male_stat = data[(data['Sex'] == 'male')]['Survived'].mean() * 100
female_stat = data[(data['Sex'] == 'female')]['Survived'].mean() * 100
print("Правда ли, что женщины выживали чаще мужчин? ", female_stat > male_stat)
print("Доля мужчин", male_stat)
print("Доля женщин", female_stat)

Правда ли, что женщины выживали чаще мужчин?  True
Доля мужчин 18.890814558058924
Доля женщин 74.20382165605095

**7. Какое имя наиболее популярно среди пассажиров мужского пола?**
- Charles
- Thomas
- William
- John

In [71]:
male_passengers = data[data['Sex'] == 'male']

male_passengers_names = male_passengers['Name'].apply(lambda x: x.split(',')[1].split()[1])

name_counts = male_passengers_names.value_counts()
male_passengers_names = name_counts.idxmax()

print("Наиболее популярное имя среди пассажиров мужского пола:", male_passengers_names)

Наиболее популярное имя среди пассажиров мужского пола: William

**8. Как средний возраст мужчин / женщин зависит от `Pclass`? Выберите все правильные утверждения:**
- В среднем мужчины 1 класса старше 40 лет
- В среднем женщины 1 класса старше 40 лет
- Мужчины всех классов в среднем старше, чем женщины того же класса
- В среднем, пассажиры первого класса старше, чем пассажиры 2-го класса, которые старше, чем пассажиры 3-го класса.

In [93]:
# Вычисление среднего возраста по классу и полу
avg_age = data.groupby(['Pclass', 'Sex'])['Age'].mean().reset_index()

# Создание графика
plt.figure(figsize=(10, 6))
sns.barplot(x='Pclass', y='Age', hue='Sex', data=avg_age)
plt.title('Средний возраст по классу и полу')
plt.xlabel('Класс')
plt.ylabel('Средний возраст')
plt.show()


Author: [Yury Kashnitsky](https://yorko.github.io). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.